* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    margin: 50px;
}

.menu {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
}

.menu li a {
    display: block;
    background-color: #ddd;
    margin: 0 3px;
    padding: 6px 10px;
}